<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoingStuff</title>

    <link rel="stylesheet" href="/css/style.css">

    {{!-- Fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Poppins:wght@100;300;400;600&display=swap" rel="stylesheet">

    {{!-- Ajax --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {{!-- Pjax --}}
    {{!-- <script src="https://cdn.jsdelivr.net/npm/jquery-pjax@2.0.1/jquery.pjax.min.js"></script> --}}
    {{!-- <script src="https://cdn.jsdelivr.net/npm/pjax@0.2.8/pjax.js"></script> --}}

    {{!-- Handlebars CDN --}}
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

    {{!-- Fontawesome CDN --}}
    <script src="https://kit.fontawesome.com/a4e8b7b3a4.js" crossorigin="anonymous"></script>

</head>
<body>


    {{#*inline 'task-list'}}
        <div class="wrapper-task-list" id="task-list-{{this.list_id}}" aria-current="{{this.current}}">

            <div class="hover-background"></div>
            <p class="task-list"><a href="/task-lists/{{this.list_id}}">{{this.list_name}}</a></h2>

        </div>
    {{/inline}}

    {{!-- * Utilizing a Partial we registered --}}
    {{> header}}


    <div class="wrapper-main">

        <!--<form id="new-task-list">
            <p>Create a Task List!</p>
            <input type="text" name="taskListName" id="taskListName" required />
            <button type="submit">Add Task List</button>
        </form>-->

        <div class="container-sidenav">
            {{!-- * Display a task list if it exists. --}}
            <div id="task-lists-container">


                <div class="task-lists-container-header">
                    <p class="bold">Default Lists</p>
                    <hr>
                </div>

                <div class="task-lists-container-body" id="default-lists">
                    {{#if taskLists}}

                        {{#each taskLists}}

                            {{#if this.default_list}}
                                {{> task-list}}
                            {{/if}}
                            
                        {{/each}}

                    {{/if}}
                </div>
                
                <div class="task-lists-container-header">
                    <p class="bold">Lists</p>
                    <hr>
                </div>

                <div class="task-lists-container-body" id="custom-lists">
                    {{#if taskLists}}

                        {{#each taskLists}}
                            {{#unless this.default_list}}
                                {{> task-list}}
                            {{/unless}}
                        {{/each}}

                    {{/if}}
                </div>


            </div>
        </div>

        <div class="container-main">


            <div class="container-main-top">

                {{!-- * The top contians the title, and task input with a fixed position --}}

                {{!-- Insert name of list here --}}
                <h1>{{currentList.list_name}}</h1>
                {{!-- <h1>Hello</h1> --}}
                
                <div class="add-task-container">

                    {{!-- TODO: Add a pointer-up circle button, inside of the textnbox on left. --}}
                    {{!-- TODO: Make that button inactive and grey when no text is there. --}}

                    <form id="new-task" class="form-add-task">
                        <button class="btn btn-icon-submit" type="submit">
                                <i class="fa-solid fa-arrow-up"></i>
                        </button>

                        <input class="task-input" id="task-input-name" name="task-title" type="text" 
                                placeholder="Add a new task" />

                        <div class="add-task-options">



                        </div>
                        
                    </form>


                </div>
            </div>

            <div class="container-main-body">
                {{!-- * The body contains all the tasks created by the user. --}}
                {{!-- TODO: give the tasks in this container an overflow-y, Make the top sticky/fixed --}}


                {{!-- TODO: Flexbox? --}}

                {{#if currentTasks}}

                    {{#each currentTasks}}

                        <div class="task-container" data-id="{{this.task_id}}">

                            <div class="task-container-left">

                                <div class="priority-container">

                                    {{!-- TODO: If there is no score (=0), don't show it. (opacity 0?) --}}

                                    <span id="priority">{{this.priority_score}}</span> 
                                    {{!-- * Insert a star --}}
                                </div>

                            </div>

                            {{!-- TODO: Complete button inside of here --}}
                            <div class="task-container-center">
                                {{!-- TODO: Find a way to complete the task, and delete from the DB --}}
                                
                                <div class="task-main">


                                    {{!-- * Inline button here --}}

                                    <form class="complete-task">
                                        <button class="btn btn-icon btn-icon-light btn-complete-task" type="submit">
                                            <i class="fa-regular fa-circle-check"></i>
                                        </button>
                                    </form>
                                    <p class="task-title">{{this.task_title}}</p>

                                </div>

                                {{!-- * Display this container only if the added subtasks --}}
                                <div class="subtasks-container">
                                    {{!-- <hr> --}}

                                    {{!-- TODO: Toggle the subtasks (up and down) --}}
                                    <p class="sub-header text-small"></p>

                                    <div class="subtasks">
                                        
                                    </div>


                                </div>
                            </div>

                            <div class="task-container-right">

                                <div class="options-container">
                                    <button class="btn btn-icon btn-icon-opaque">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </button>
                                </div>
                            
                            </div>

                        </div>

                    {{/each}}

                {{/if}}

            </div>









            {{!-- <form action="/testUser" method="POST">
                <button type="submit">Is Someone There?</button>
            </form>

            <form action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form> --}}

            

            <div id="taskCreated">

            </div>
        </div>


    </div>

    {{!-- <script src="../js/script"></script> --}}



<script>

$(document).ready( () => {

    $(document).on('submit', '#new-task-list', () => {

        //console.log('\nFUNCTION CALLED\n')

        event.preventDefault();
        // Acquire the data
        const data = {list_name: ($('#taskListName').val()).trim()}

       if (data.list_name) {
            $.ajax({
                url: 'http://localhost:3000/add/task-list',
                data: data,
                method: 'POST',
            }).then( (res) => {

                // *append res content to the page.
                //$('#task-lists-container').append(`
                //  <div class="wrapper-task-list" id="wrapper-task-list">
                    //    <h2><a href="/task-lists/${res.list_id}">${res.list_name}</a></h2>
                    //</div>
            //`)
            $('#new-task-list').insertBefore(`
                    <div class="wrapper-task-list" id="wrapper-task-list">
                        <h2><a href="/task-lists/${res.list_id}">${res.list_name}</a></h2>
                    </div>
            `)

            }).catch((err) => {
                console.log(err)
            })
        
        }

    }

}







/* {{!-- TODO: Add a listener to ensure that the submit buttons attached to input forms
todo     are disabled and opaque IF the form.trim() is empty. --}} */

function listSuccess() {

    
}

</script>


</body>


</html>